#Binaries
VirtualLinkedDesk/BitmapLibrary/.vs
VirtualLinkedDesk/BitmapLibrary/BitmapLibrary/bin
VirtualLinkedDesk/BitmapLibrary/BitmapLibrary/obj
VirtualLinkedDesk/Client/.vs
VirtualLinkedDesk/Client/Client/bin
VirtualLinkedDesk/Client/Client/obj
VirtualLinkedDesk/Client/Client/Properties
VirtualLinkedDesk/Server/.vs
VirtualLinkedDesk/Server/Server/bin
VirtualLinkedDesk/Server/Server/obj
VirtualLinkedDesk/Server/Server/Properties

*.resx

# Certificates
*.key
*.csr
*.cer
*.pfx